# Set mkdocs version 1.3.0
markdown>=3.2
mkdocs>=1.4.3

# WARNING:If you change this, make sure
# the menu and footer are built and rendered correctly 9.1.21
mkdocs-material>=9.5.0
mkdocs-material-extensions>=1.0.3
mkdocs-awesome-pages-plugin>=2.7.0
mkdocs-exclude>=1.0.2
mkdocs-macros-plugin>=0.6.3
markupsafe==2.0.1
pymdown-extensions>=9.4
pygments>=2.12
mkdocs-build-plantuml-plugin >= 1.5.0
plantuml-markdown>=3.4.2
mkdocs-enumerate-headings-plugin
mkdocs-encryptcontent-plugin
mkdocs-include-markdown-plugin
mkdocs-mermaid2-plugin
mkdocs-macros-plugin
mkdocs-table-reader-plugin
mkdocs-git-revision-date-localized-plugin >= 1.0
jinja2>=3.0.2
thefuzz>=0.19.0
Levenshtein>=0.21.1
python-Levenshtein>=0.21.1
openpyxl
markdown-customblocks
pillow
cairosvg
cairocffi
