{% if nav %}
    {% if page.meta and page.meta.hide %}
        {% set hidden = "hidden" if "navigation" in page.meta.hide %}
    {% endif %}
    <div class="md-sidebar md-sidebar--primary" data-md-component="sidebar" data-md-type="navigation" {{ hidden }}>
        <div class="md-sidebar__scrollwrap">
            <div class="md-sidebar__inner">
                {% include "partials/nav.html" %}
            </div>
        </div>
    </div>
{% endif %} 

{% if not "toc.integrate" in features %}
    {% if page.meta and page.meta.hide %}
        {% set hidden = "hidden" if "toc" in page.meta.hide %}
    {% endif %}

    <div class="md-sidebar md-sidebar--secondary" data-md-component="sidebar" data-md-type="toc" {{ hidden }}>
        <div class="md-sidebar__scrollwrap">
            <div class="md-sidebar__inner">
                {% include "partials/toc.html" %}

                {# hide tags on home page #}
                {% if not page.is_homepage %} 
                    {% if page.meta and page.meta.hide %}
                        {% set hidden = "hidden" if "tags" in page.meta.hide %}
                    {% endif %}
                    <br>
                    <br>
                    <div class="tag-cloud-toc" {{ hidden }}>
                        {% include "partials/tag-cloud.html" %}
                    </div>  
                {% endif %}    
            </div>
        </div>
    </div>
{% endif %}
