<script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@type": "Recipe",
		"name": "{{ metadata.Title }}",
		"image": "{{ image_path }}/{{ metadata.Image }}",
		"description": "{{ metadata['Image-Caption'] }}",
		"author": {
		"@type": "Person",
		{%- if metadata.Source %}
		"name": "{{ metadata.Source }}"
		{%- else %}
		"name": "{{ page.url }}"
		{%- endif %}
		},
		"recipeCategory": "{{ metadata.Type }}",
		"recipeCuisine": "{{ metadata.Category }}",
		"keywords": "{{ metadata.Keywords }}",
		"recipeYield": "{{ metadata['Serving Size'] }}",
		"prepTime": "PT{{ metadata['Prep Time'] }}M",
		"cookTime": "PT{{ metadata['Cooking Time'] }}M",
		"totalTime": "PT{{ metadata['Total Time'] }}M",
		"ingredients": [
		{%- for recipe_ingredient_key in recipe_ingredients.keys() %}
			{%- set ingredient_data = recipe_ingredients[recipe_ingredient_key] %}
			{%- for ingredient_amount, ingredient_unit, ingredient_step in ingredient_data.with_units %}
				"{{ ingredient_amount }} {{ ingredient_unit }} {{ recipe_ingredient_key }}"{%- if not loop.last %},{%- endif %}
			{%- endfor %}
			{%- for non_unit_amount in ingredient_data.without_units %}
				"{{ non_unit_amount }} {{ recipe_ingredient_key }}"{%- if not loop.last %},{%- endif %}
			{%- endfor %}
		{%- endfor %}
		]
		"recipeInstructions": [
		{%- for step in steps %}
			"{{ step }}"{%- if not loop.last %},{%- endif %}
		{%- endfor %}
		],
		"nutrition": {
		"@type": "NutritionInformation",
		"calories": "{{ total_weight_df['Calories'][1] }}",
		"fatContent": "{{ total_weight_df['Total_Fat'][1] }}",
		"saturatedFatContent": "{{ total_weight_df['Saturated_Fat'][1] }}",
		"carbohydrateContent": "{{ total_weight_df['Carbohydrate'][1] }}",
		"fiberContent": "{{ total_weight_df['Dietary_fiber'][1] }}",
		"sugarContent": "{{ total_weight_df['Sugars'][1] }}",
		"proteinContent": "{{ total_weight_df['Protein'][1] }}",
		"sodiumContent": "{{ total_weight_df['Sodium'][1] }}"
		}
	}
	</script>

{%- if metadata.Title %}
## {{ metadata.Title }}
{%- set header_var = '### ' %}
{%- else %}
{%- set header_var = '## ' %}
{%- endif %}

{% if contains_gluten %}
!!! danger
    This recipe is based on wheat gluten so it is not suitable for those with Gluten Intolerance. I am sure it's obvious but still.
{% endif %}

{{ header_var }}Key Stats

{%- if metadata.Image %}
<div class="parent">
	<div class="div1">
		<div class="grid">
		<figure class="card">
		<p><a class="glightbox" data-desc-position="bottom" data-height="auto" data-type="image" data-width="auto" href="{{ image_path }}/{{ metadata.Image }}"><img alt="image" src="{{ image_path }}/{{ metadata.Image }}" style="width: 920px;height: 430px;object-fit: contain;"></a></p>
		<figcaption>{{ metadata['Image-Caption'] }}</figcaption>
		</figure>
		</div>
	</div>

	<div class="div2">
		<div align-items="center" class="grid">
			<div style="justify-content: center;display: flex;">
			<div class="circle">
			<p style="text-align: center;">    
			{%- if metadata.Type %}
			{%- if metadata.Type == 'Vegetarian' %}
			<img alt="🥗" class="twemoji" src="https://cdn.jsdelivr.net/gh/jdecked/twemoji@15.0.3/assets/svg/1f957.svg" title=":green_salad:">
			<img alt="🥛" class="twemoji" src="https://cdn.jsdelivr.net/gh/jdecked/twemoji@15.0.3/assets/svg/1f95b.svg" title=":glass_of_milk:">
			{%- elif metadata.Type == 'Vegan' %}
			<img alt="🥗" class="twemoji" src="https://cdn.jsdelivr.net/gh/jdecked/twemoji@15.0.3/assets/svg/1f957.svg" title=":green_salad:">
			<img alt="🥑" class="twemoji" src="https://cdn.jsdelivr.net/gh/jdecked/twemoji@15.0.3/assets/svg/1f951.svg" title=":leafy_green:">
			{%- elif metadata.Type == 'Vegetarian with Egg' %}
			<img alt="🥑" class="twemoji" src="https://cdn.jsdelivr.net/gh/jdecked/twemoji@15.0.3/assets/svg/1f951.svg" title=":leafy_green:">
			<img alt="🥛" class="twemoji" src="https://cdn.jsdelivr.net/gh/jdecked/twemoji@15.0.3/assets/svg/1f95b.svg" title=":glass_of_milk:">
			<img alt="🥚" class="twemoji" src="https://cdn.jsdelivr.net/gh/jdecked/twemoji@15.0.3/assets/svg/1f95a.svg" title=":egg:">
			{%- else %}
			<img alt="🥩" class="twemoji" src="https://cdn.jsdelivr.net/gh/jdecked/twemoji@15.0.3/assets/svg/1f969.svg" title=":cut-of-meat:">
			{%- endif %}
			{%- endif %}
			<br><strong style="color:#4CAF50">{{ total_weight_df['net_carb'][2] }} <em>Net Carbs per Serving</em></strong>
			</p>
			</div>
			</div>
		{%- if metadata['Prep Time'] %}
		<p class="card">
		<em>Prep Time</em>:
		<strong>{{ metadata['Prep Time'] }}</strong>
		</p>
		{%- endif %}
			
		{%- if metadata['Cooking Time'] %}
		<p class="card">
		<em>Cooking Time</em>:
		<strong>{{ metadata['Cooking Time'] }}</strong>
		</p>
		{%- endif %}

		{%- if metadata['Serving Size'] %}
		<p class="card"><em>Serves</em>:
	
		<strong>{{ metadata['Serving Size'] }}</strong>
		</p>
		{%- endif %}
		
		{%- if metadata.Type %}
		<p class="card"><em>Type</em>: 
	
		<strong>{{ metadata.Type }}</strong>
		</p>
		{%- endif %}
		
		{%- if metadata.Source %}
		<p class="card"><em>Source</em>: 
	
		<a href="{{ metadata.Source }}" target="_blank">External Link<span class="twemoji"><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12 2.13c0 .1-.05.2-.11.28-.39.59-.73 1.23-.85 1.92l-.04.23 1-.06a7.5 7.5 0 0 1 7.5 7.5c0 1.62-.5 3.11-1.38 4.34-1.39 2.34-3.4 4.31-5.78 5.63-.09.03-.22.03-.28-.04-.06-.1-.06-.23.03-.32.38-.52.64-1.11.78-1.76l.06-.41-.93.06A7.5 7.5 0 0 1 4.5 12c0-1.61.5-3.11 1.38-4.33C7.26 5.32 9.28 3.34 11.67 2c.11-.05.27 0 .33.13M12 9a3 3 0 0 0-3 3 3 3 0 0 0 3 3 3 3 0 0 0 3-3 3 3 0 0 0-3-3"></path></svg></span></a></p>
		{%- endif %}
		
		{%- if metadata.Category %}
		<p class="card"><em>Category</em>: 
			
		<strong>{{ metadata.Category }}</strong></p>
		{%- endif %}
		</div>
	</div>
</div>
{%- else %}
<div style="justify-content: center;display: flex;" class="grid"><div class="circle">
<p style="text-align: center;">    
{%- if metadata.Type %}
{%- if metadata.Type == 'Vegetarian' %}
<img alt="🥗" class="twemoji" src="https://cdn.jsdelivr.net/gh/jdecked/twemoji@15.0.3/assets/svg/1f957.svg" title=":green_salad:">
<img alt="🥛" class="twemoji" src="https://cdn.jsdelivr.net/gh/jdecked/twemoji@15.0.3/assets/svg/1f95b.svg" title=":glass_of_milk:">
{%- elif metadata.Type == 'Vegan' %}
<img alt="🥗" class="twemoji" src="https://cdn.jsdelivr.net/gh/jdecked/twemoji@15.0.3/assets/svg/1f957.svg" title=":green_salad:">
<img alt="🥑" class="twemoji" src="https://cdn.jsdelivr.net/gh/jdecked/twemoji@15.0.3/assets/svg/1f951.svg" title=":leafy_green:">
{%- elif metadata.Type == 'Vegetarian with Egg' %}
<img alt="🥑" class="twemoji" src="https://cdn.jsdelivr.net/gh/jdecked/twemoji@15.0.3/assets/svg/1f951.svg" title=":leafy_green:">
<img alt="🥛" class="twemoji" src="https://cdn.jsdelivr.net/gh/jdecked/twemoji@15.0.3/assets/svg/1f95b.svg" title=":glass_of_milk:">
<img alt="🥚" class="twemoji" src="https://cdn.jsdelivr.net/gh/jdecked/twemoji@15.0.3/assets/svg/1f95a.svg" title=":egg:">
{%- else %}
<img alt="🥩" class="twemoji" src="https://cdn.jsdelivr.net/gh/jdecked/twemoji@15.0.3/assets/svg/1f969.svg" title=":cut-of-meat:">
{%- endif %}
{%- endif %}
<br><strong style="color:#4CAF50">{{ total_weight_df['net_carb'][2] }} <em>Net Carbs per Serving</em></strong>
</p>
</div></div>
<div align-items="center" class="grid">
	{%- if metadata['Prep Time'] %}
	<p class="card">
	<em>Prep Time</em>:
	<strong>{{ metadata['Prep Time'] }}</strong>
	</p>
	{%- endif %}
	
	{%- if metadata['Cooking Time'] %}
	<p class="card"><em>Cooking Time</em>:
	<strong>{{ metadata['Cooking Time'] }}</strong>
	</p>
	{%- endif %}
		
	{%- if metadata['Serving Size'] %}
	<p class="card"><em>Serves</em>:

	<strong>{{ metadata['Serving Size'] }}</strong>
	</p>
	{%- endif %}
	
	{%- if metadata.Type %}
	<p class="card"><em>Type</em>: 

	<strong>{{ metadata.Type }}</strong>
	</p>
	{%- endif %}
	
	{%- if metadata.Source %}
	<p class="card"><em>Source</em>: 

	<a href="{{ metadata.Source }}" target="_blank"><span class="twemoji"><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12 2.13c0 .1-.05.2-.11.28-.39.59-.73 1.23-.85 1.92l-.04.23 1-.06a7.5 7.5 0 0 1 7.5 7.5c0 1.62-.5 3.11-1.38 4.34-1.39 2.34-3.4 4.31-5.78 5.63-.09.03-.22.03-.28-.04-.06-.1-.06-.23.03-.32.38-.52.64-1.11.78-1.76l.06-.41-.93.06A7.5 7.5 0 0 1 4.5 12c0-1.61.5-3.11 1.38-4.33C7.26 5.32 9.28 3.34 11.67 2c.11-.05.27 0 .33.13M12 9a3 3 0 0 0-3 3 3 3 0 0 0 3 3 3 3 0 0 0 3-3 3 3 0 0 0-3-3"></path></svg></span>External Link</a></p>
	{%- endif %}
	
	{%- if metadata.Category %}
	<p class="card"><em>Category</em>: 
		
	<strong>{{ metadata.Category }}</strong></p>
	{%- endif %}
</div>
{%- endif %}

<div class="parent" markdown>
<div class="div3" markdown>
<div class="grid cards" markdown>

-   {{ header_var }}Ingredients

	<hr>
	<table><thead><tr>
	<th>S.No</th>
	<th>Ingredient</th>
	<th>Amount</th>
	<th>Step</th>
	</tr></thead>
	<tbody>
	{%- for recipe_ingredient_key in recipe_ingredients.keys() %}
	{%- set ingredient_data = recipe_ingredients[recipe_ingredient_key] %}
	{%- set total_entries = ingredient_data.with_units | length + ingredient_data.without_units | length %}
	<tr>
	<td rowspan="{{ total_entries }}"><b>{{ loop.index }}.</b></td>
	<td rowspan="{{ total_entries }}"><b><i>{{ recipe_ingredient_key }}</i></b></td>
	{%- set tr_count = 1 %}
	{%- for ingredient_amount, ingredient_unit, ingredient_step in ingredient_data.with_units %}
	<td>{{ ingredient_amount }} {{ ingredient_unit }}</td>
	<td><a href="#Step{{ ingredient_step }}">Step {{ ingredient_step }}</a></td>
	</tr>
	{%- if tr_count < total_entries %}
	{%- set tr_count = tr_count + 1 %}
	<tr>
	{%- endif %}
	{%- endfor %}
	{%- for non_unit_amount in ingredient_data.without_units %}
	<td align-item="center" colspan="2">{{ non_unit_amount }}</td>
	</tr>
	{%- if tr_count < total_entries %}
	{%- set tr_count = tr_count + 1 %}
	<tr>
	{%- endif %}
	{%- endfor %}
	{%- endfor %}
	</tr></tbody></table>
	</div>
</div>
<div class="div4" markdown>
<div class="grid cards" markdown>

-   {{ header_var }}Cookware

	<hr>		
	<ol>
	{%- for item in cookware %}
	<li>{{ item }}</li>
	{%- endfor %}
	</ol>
	<ol>
	{{ nutrition_info_addendum }}
	</ol>
</div></div>
</div>
	
<div class="grid cards" markdown>

-   {{ header_var }}Steps

	---
{%- for step in steps %}
{%- if step.startswith('<strong>') and step.endswith('</strong>') %}
{%- set modified_step = step | replace("<strong>", "") | replace("</strong>", "") %}
	#{{ header_var }}{{ modified_step }}


{%- elif step.startswith('<note>') %}
{%- set modified_step = step | replace("<note>", "") | replace("</note>", "") %}
	!!!site-note "Note"
		{{ modified_step }}


{%- elif step.startswith('<multiline>') and step.endswith('</multiline>') %}
{%- set modified_step = step | replace("<multiline>", "") | replace("</multiline>", "") %}
	!!!site-note "Note"
        {%- for line in modified_step.split('\n') %}
		<p>{{ line | trim }}</p>
        {%- endfor %}


{%- else %}
	* [ ] {{ step }}
	
{%- endif %}
{%- endfor %}

-   {{ header_var }}Process

	---

	```plantuml
	@startuml
	!theme sketchy-outline
	!startsub activity
		skinparam activity {
	    		$primary_scheme()
	    		BarColor #orangered
    			StartColor #orangered
    			EndColor #orangered
    			BorderColor #orangered
    			ArrowColor #orangered
    			ArrowThickness 1.25
    			ArrowFontColor #maroon
    			FontColor #maroon
    			''
    			DiamondBackgroundColor #darkgreen
    			DiamondLineColor #white
    			DiamondFontColor #white
		}
	!endsub
	!startsub note
		skinparam note {
    			BorderThickness 1.25
    			BackgroundColor #ffe4b5
    			BorderColor #orangered
    			FontColor #maroon
		}
	!endsub
	start
	{%- for p_step in process %}
	{{ p_step }}
	{%- endfor %}
	end
	@enduml
	```

</div>

{{ header_var }}Nutrition Info

{%- if missing_ingredients_string %}
??? warning "Missing Ingredients"
    {{ missing_ingredients_string }}
{%- endif %}

#{{ header_var }}Nutrition Labels

Scroll to see nutrition facts for different servings and weights for this recipe.

<div class="grid" style="justify-items: center; align-items: center;">

    <div class="custom--wrapper">
        <div class="arrow left-arrow">&#9664;</div> <!-- Left Arrow -->
            <div class="custom--container">
                {%- for i in range(total_weight_df['recipe_weight_in_gms'] | length) %}
                <div class="custom-slide">
                    <div id="nutrition_label">
                        <div itemscope="" class="nf" role="region" aria-label="nutrition label" style="width: 300px;">
                            <div class="nf-title" tabindex="0">Nutrition Facts</div>
                            <div class="nf-line">
                                <div class="nf-serving">
                                    <div class="nf-amount-per-serving" align="right" tabindex="0"><b>
                                        {%- if i == 1 %}
                                            Amount Per 100gms
                                        {%- elif i == 2 %}
                                            Amount Per Serving (Total Servings: {{ serving_size }})
                                        {%- elif i == 3 %}
                                            Amount in 2 Servings (Total Servings: {{ serving_size }})
                                        {%- else %}
                                            Amount In Whole Recipe ({{ total_weight_df['recipe_weight_in_gms'][i] }} gms)
                                        {%- endif %}
                                    </b></div>
                                </div><!-- end of class="nf-serving" -->
                            </div><!-- end of class="nf-line" -->
                            <!-- Add the rest of your nutrition facts here -->
                            <div class="nf-bar2"></div>
                            <div class="nf-netcarbs" tabindex="0">
                                <span class="">Net Carbs</span>
                                <span class="nf-pr" itemprop="net_carbs">{{ total_weight_df['net_carb'][i] }} g</span>
                            </div>
                            <div class="nf-bar1"></div>
                            <div class="nf-calories" tabindex="0">
                                <span class="">Calories</span>
                                <span class="nf-pr" itemprop="calories">{{ total_weight_df['Calories'][i] }} Kcal</span>
                            </div>
                            <!-- Continue adding the rest of the nutrition information as in your original code -->
                            <div class="nf-bar1"></div>
                            <div class="nf-line nf-text-right">
                                <span class="nf-highlight nf-percent-dv">% Daily Value*</span>
                            </div>
                            <div class="nf-line" tabindex="0">
                                <span class="nf-highlight">Total Fat</span>
                                <span class="" itemprop="fatContent">{{ total_weight_df['Total_Fat'][i] }}<span aria-hidden="true">g</span><span class="sr-only"> grams</span></span>
                                <span class="nf-highlight nf-pr">{{ total_weight_df['Total_Fat_drv_%'][i] }}% <span class="sr-only">Daily Value</span></span>
                            </div>
                            <div class="nf-line nf-indent" tabindex="0">
                                <span class="">Saturated Fat</span>
                                <span class="" itemprop="saturatedFatContent">{{ total_weight_df['Saturated_Fat'][i] }}<span aria-hidden="true">g</span><span class="sr-only"> grams</span></span>
                                <span class="nf-highlight nf-pr">{{ total_weight_df['Saturated_Fat_drv_%'][i] }}% <span class="sr-only">Daily Value</span></span>
                            </div>
                            <div class="nf-line nf-indent" tabindex="0">
                                <span class=""><em>Trans</em> Fat</span>
                                <span class="" itemprop="transFatContent">{{ total_weight_df['Trans_Fat'][i] }}<span aria-hidden="true">g</span><span class="sr-only"> grams</span></span>
                            </div>
                            <div class="nf-line nf-indent" tabindex="0">
                            <span class="">Polyunsaturated Fat</span>
                            <span class="" itemprop="">{{ total_weight_df['Polyunsaturated_Fat'][i] }}<span aria-hidden="true">g</span><span class="sr-only"> grams</span></span>
                            </div>
                            <div class="nf-line nf-indent" tabindex="0">
                            <span class="">Monounsaturated Fat</span>
                            <span class="" itemprop="">{{ total_weight_df['Monounsaturated_Fat'][i] }}<span aria-hidden="true">g</span><span class="sr-only"> grams</span></span>
                            </div>
                            <div class="nf-line" tabindex="0">
                                <span class="nf-highlight">Cholesterol</span>
                                <span class="" itemprop="cholesterolContent">{{ total_weight_df['Cholesterol'][i] }}<span aria-hidden="true">mg</span><span class="sr-only"> milligrams</span></span>
                                <span class="nf-highlight nf-pr">{{ total_weight_df['Cholesterol_drv_%'][i] }}% <span class="sr-only">Daily Value</span></span>
                            </div>
                            <div class="nf-line" tabindex="0">
                                <span class="nf-highlight">Sodium</span>
                                <span class="" itemprop="sodiumContent">{{ total_weight_df['Sodium'][i] }}<span aria-hidden="true">mg</span><span class="sr-only"> milligrams</span></span>
                                <span class="nf-highlight nf-pr">{{ total_weight_df['Sodium_drv_%'][i] }}% <span class="sr-only">Daily Value</span></span>
                            </div>
                            <div class="nf-line" tabindex="0">
                                <span class="nf-highlight">Total Carbohydrates</span>
                                <span class="" itemprop="carbohydrateContent">{{ total_weight_df['Carbohydrate'][i] }}<span aria-hidden="true">g</span><span class="sr-only"> grams</span></span>
                                <span class="nf-highlight nf-pr">{{ total_weight_df['Carbohydrate_drv_%'][i] }}% <span class="sr-only">Daily Value</span></span>
                            </div>
                            <div class="nf-line nf-indent" tabindex="0">
                                <span class="">Dietary Fiber</span>
                                <span class="" itemprop="fiberContent">{{ total_weight_df['Dietary_fiber'][i] }}<span aria-hidden="true">g</span><span class="sr-only"> grams</span></span>
                                <span class="nf-highlight nf-pr">{{ total_weight_df['Dietary_fiber_drv_%'][i] }}% <span class="sr-only">Daily Value</span></span>
                            </div>
                            <div class="nf-line nf-indent" tabindex="0">
                                <span class="">Sugars</span>
                                <span class="" itemprop="sugarContent">{{ total_weight_df['Sugars'][i] }}<span aria-hidden="true">g</span><span class="sr-only"> grams</span></span>
                            </div>
                            <div class="nf-line" tabindex="0">
                                <span class="nf-highlight">Protein</span>
                                <span class="" itemprop="proteinContent">{{ total_weight_df['Protein'][i] }}<span aria-hidden="true">g</span><span class="sr-only"> grams</span></span>
                            </div>
                            <div class="nf-bar2"></div>
                            <div class="nf-vitamins">
                                <div class="nf-vitamins">
                                    <div class="" tabindex="0">
                                        <span class="">Vitamin D</span>
                                        <span class="" itemprop="vitaminDContent">{{ total_weight_df['Vitamin_D_(D2_+_D3)'][i] }}<span aria-hidden="true">mcg</span><span class="sr-only"> micrograms</span></span>
                                        <span class="nf-highlight nf-pr">{{ total_weight_df['Vitamin_D_(D2_+_D3)_drv_%'][i] }}% <span class="sr-only">Daily Value</span></span>
                                    </div>
                                    <div class="nf-line" tabindex="0">
                                        <span class="">Calcium</span>
                                        <span class="" itemprop="calciumContent">{{ total_weight_df['Calcium'][i] }}<span aria-hidden="true">mg</span><span class="sr-only"> milligrams</span></span>
                                        <span class="nf-highlight nf-pr">{{ total_weight_df['Calcium_drv_%'][i] }}% <span class="sr-only">Daily Value</span></span>
                                    </div>
                                    <div class="nf-line" tabindex="0">
                                        <span class="">Iron</span>
                                        <span class="" itemprop="ironContent">{{ total_weight_df['Iron'][i] }}<span aria-hidden="true">mg</span><span class="sr-only"> milligrams</span></span>
                                        <span class="nf-highlight nf-pr">{{ total_weight_df['Iron_drv_%'][i] }}% <span class="sr-only">Daily Value</span></span>
                                    </div>
                                    <div class="nf-line" tabindex="0">
                                        <span class="">Potassium</span>
                                        <span class="" itemprop="potassiumContent">{{ total_weight_df['Potassium_K'][i] }}<span aria-hidden="true">mg</span><span class="sr-only"> milligrams</span></span>
                                        <span class="nf-highlight nf-pr">{{ total_weight_df['Potassium_K_drv_%'][i] }}% <span class="sr-only">Daily Value</span></span>
                                    </div>
                                    <div class="nf-line" tabindex="0">
                                        <span class="">Zinc</span>
                                        <span class="" itemprop="zincContent">{{ total_weight_df['Zinc'][i] }}<span aria-hidden="true">mg</span><span class="sr-only"> milligrams</span></span>
                                        <span class="nf-highlight nf-pr">{{ total_weight_df['Zinc_drv_%'][i] }}% <span class="sr-only">Daily Value</span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="nf-bar2"></div>
                            <div class="" tabindex="0">
                                <span class="nf-highlight">Caffeine</span>
                                <span class="" itemprop="caffeineContent">{{ total_weight_df['Caffeine'][i] }}mg</span>
                            </div>
                            <div class="nf-bar1"></div>
                            <div class="nf-vitamins">
                        <div class="nf-footnote">
                            <span tabindex="0">The % Daily Value (DV) tells you how much a nutrient in a serving of food contributes to a daily diet. 2000 calories a day is used for general nutrition advice.</span>
                        </div>
                        <div class="naTooltip">Data not available</div>
                            </div>
                        </div><!-- closing class="nf" -->
                    </div>
                </div>
                {%- endfor %}
            </div>
        <div class="arrow right-arrow">&#9654;</div> <!-- Right Arrow -->
    </div>

</div>

<div class="grid cards" markdown>

- #{{ header_var }}Net Carbs in each Ingredient

    ---

    {{ net_carbs_table_found_ingredients }}
</div>

{{ header_var }}Cooklang

<details class="site-abstract">
<summary>Recipe in <a href="https://cooklang.org/" target="_blank">Cooklang</a></summary>
```
{{ cooklang_block }}
```
</details>
