.md-footer-meta {
  background-color: #2094f3
}

#legal-link {
  color: #FFFFFF;
}

#legal-link:hover {
  color: #FFFFFF;
  background-color: transparent;
  text-decoration: underline;
}

.hp-footer-icon {
  color: #FFFFFF;
  margin-right: 10px;
  height: 32px;
  width: 32px;
}

.hp-footer-copyright {
  color: #FFFFFF;
  position: relative;
  width: 100%;
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: .5rem 1rem;
}
