/*For recipe template*/
.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 8px;
}

.div1 {
    grid-column: span 5 / span 5;
    grid-row: span 1 / span 1;
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    justify-content: center; /* Center items vertically */      
}

.div2 {
    grid-row: span 1 / span 1;
    grid-column-start: 6;
    display: flex; 
    flex-direction: column; /* Arrange items vertically */
    justify-content: center; /* Center items vertically */
}

.div3 {
    grid-column: span 4 / span 4;
    grid-row: span 1 / span 1;
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    justify-content: center; /* Center items vertically */      
}

.div4 {
    grid-row: span 1 / span 1;
    grid-column-start: 5;
    grid-column: span 2 / span 2;   
}

.circle {
    width: 125px;
    height: 125px;
    border: solid;
    border-width: thick;
    border-radius: 50%;
    background-color: black; /*black*/
    border-color: var(--md-primary-fg-color); /*orange*/
    color: var(--md-accent-bg-color); /*white*/
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    margin: 15px;
}

.rounded-box {
    width: 125px;
    height: 125px;
    border: solid;
    border-width: thin;
    border-radius: 25%;
    background-color: black; /*black*/
    border-color: var(--md-primary-fg-color); /*orange*/
    color: var(--md-accent-bg-color); /*white*/
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    margin: 15px;
}


/* Media query for mobile devices */
@media (max-width: 600px) {
    .parent {
        grid-template-columns: 1fr; /* Change to a single column layout */
        grid-template-rows: auto; /* Allow rows to adjust based on content */
    }

    .div1, .div2, .div3, .div4 { /* Group all divs */
        grid-column: span 1; /* Span 1 column */
        grid-row: auto; /* Allow row to adjust based on content */
    }
}

/* For nutrition info as slides*/
.custom--wrapper {
    display: flex;
    align-items: center; /* Center align arrows vertically */
    position: relative; /* Position relative for absolute positioning of arrows */
}
.custom--container {
    display: flex;
    overflow-x: hidden; /* Hide overflow to show only one slide */
    width: 309px; /* Set a fixed width for the custom- */
    position: relative; /* Position relative for absolute positioning of slides */
    align-items: center;
}
.custom-slide {
    min-width: 307px; /* Set a minimum width for each slide */
    padding: 5px;
    background: var(--md-custom-slider-bg-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(255, 213, 145, 0.2);
}
/* Arrow styles */
.arrow {
    cursor: pointer; /* Change cursor to pointer */
    font-size: 2em; /* Increase font size for visibility */
    padding: 10px; /* Add padding around arrows */
    user-select: none; /* Prevent text selection */
    opacity: 0.7; /* Slightly transparent */
    color: --md-primary-fg-color;
}
.left-arrow {
    margin-right: 10px; /* Space between left arrow and custom- */
}
.right-arrow {
    margin-left: 10px; /* Space between right arrow and custom- */
}
/* Optional: Hide scrollbar for a cleaner look */
.custom--container::-webkit-scrollbar {
    display: none; /* Hide scrollbar for WebKit browsers */
}
